<strong> Olá, {{ student }}</strong>
<p>Seja bem vindo a Academia Gympoint, sua matrícula foi realizada com sucesso.</p>
<p>
  <strong>Aluno: </strong> {{ student }}<br />
  <strong>Plano:</strong> {{ plan}}<br />
  <strong>Data início: </strong> {{ dateStart }}<br />
  <strong>Data termino: </strong> {{ dateEnd }}<br />
  <strong>Valor total: </strong> {{ totalPrice }}<br />
  <br />
  <small>
    <strong>Informações adicionais acesse nosso site Academia Gympoint</strong> <br />
    <strong>Telefone:</strong> (11) 9999-9999 <br />
    <strong>Whatsapp:</strong> (11) 9 9999-9999 <br />
  </small>
</p>
